<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO LIST</title>
    <link rel="stylesheet" type = "text/css" href="main.css">
</head>
<body>
    <header>
        <nav>
            <li>ToDo List</li>
        </nav>
    </header>   

    <h1>Today</h1>

    <div class="container">
        
    </div>
</body>
</html>