<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO LIST</title>
    <link rel="stylesheet" type = "text/css" href="main.css">
    <script src="https://kit.fontawesome.com/736544172b.js" crossorigin="anonymous"></script>
  
</head>
<body>
    <header>
        <nav>
            <li><i class="fa-solid fa-calendar-days" style="color: #faa500;"></i>ToDo List</li>
        </nav>
    </header>   

    <div class="container">
        <h1><%= Today %></h1>
        <div class="list">
            <ul>
                <% for(let i=0; i< item.length; i++){ %>
                <li class="form"> <input type = "checkbox" id="check"> 
                   <p> <%= item[i] %></p>
                </li>
                <% }; %>
 
            <form class="form form-1" action="/" method="post">
                <input type = "text" placeholder="Type Here..." name = "listItem" id= "field" autocomplete="off">
                <button type="submit">+</button>
            </form>
            </ul>
        </div>
        
    </div>

    <footer class="container">
        <p>© 2023 Yamuna Raja <a style="color:white;" href="https://github.com/Webunnydev?tab=repositories" target="blank">Webunnydev</a></p>
    </footer>
</body>
</html>