body{
    background-color: black;
    color: #FFA500;
}

nav {
    display: inline-block;
    list-style: none;
    margin: 2vw;
}
nav li i{
    margin-right: 1vw;
}
h1{
    background-color:#FFA500;
    color:white;
    padding: 2vw;
    border-radius:20px;
}