body{
    background-color: black;
    color: #FFA500;
}

nav {
    display: inline-block;
    list-style: none;
    margin: 2vw;
}
nav li i{
    margin-right: 1vw;
}
.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
h1{
    background-color:#FFA500;
    color:white;
    padding: 1vw 5vw 1vw 5vw;
    border-radius:50px;
}
.list{
    margin-left:-45px;
}
.form{
    background:white;
    height:10vh;
    border-bottom:1px solid grey;
}
#check{
    margin:2vw;
    height:15px;
    width:15px;
}
 
input[type="checkbox"] {
    accent-color: #FFA500;
}

button{
    padding:0.3vw 0.5vw 0.3vw 0.5vw;
    margin:1vw 2vw 0vw 0vw;
    background-color:white;
    color:#FFA500;
    border-radius:50%;
    font-size:30px;
    height:40px;
    width:40px;
}
textarea:focus, input:focus{
    outline:none;
}
.list form input{
    padding: 1vw 3vw 1vw 2vw;
    border:none;
}
#field{
    font-size:20px;
    width:30vw;
}
::placeholder{
    color:white;
    font-size:20px;
}
ul li{
    display:flex;
    flex-direction:row;
}
ul li p{
    margin-top:1.5vw;
    font-size:20px;
    font-weight: bolder;
}
input:checked+p{
    text-decoration:line-through;
}
.form-1, .form-1 input{
    background-color:#FFA500;
}
 
 

 