body{
    background-color: black;
    color: #FFA500;
}

nav {
    display: inline-block;
    list-style: none;
    margin: 2vw;
}
nav li i{
    margin-right: 1vw;
}
.container{
    display:flex;
    justify-content:center;
    align-items:center;

}
h1{
    background-color:#FFA500;
    color:white;
    padding: 1vw 2vw 1vw 2vw;
    border-radius:20px;
}